.witte-tekst {
  color: #ffffff; /* Hier is de tekstkleur ingesteld op wit */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* De stijlen voor de hoofdlijstitems */
li {
  float: left;
  border-right: 1px solid rgb(145, 145, 145);
  position: relative; /* Dit is toegevoegd voor het in positie brengen van de dropdown */
}

li:last-child {
  border-right: none;
}

/* De stijlen voor de links in de hoofdlijst */
li a {
  display: block; 
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

/* Stijlen voor de hover-status van de links in de hoofdlijst */
li a:hover:not(.active) {
  background-color: #ffffff;
  color: #0073ed;
}

/* Stijlen voor de actieve link in de hoofdlijst */
.active {
  background-color: #04AA6D;
  color: rgb(184, 241, 255);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; /*dit geeft aan waar de text zal komen te staan, dus in het midden*/
  padding: 10px; /*dit zorgt voor de hoogte van de footer*/
  font-size: medium; /*dit zorgt voor een tekstgrote large*/
  background-color: #F1F1F1; /*achtergrond kleur voor de footer*/
} 

/* paragraaf met breedte van 100%*/
.paragraaf {
  padding: 8px; /* ruimte rondom de inhoud*/  
  color: rgb(0, 0, 0); 
  background-color: rgb(253, 253, 253); /* achtergrondkleur van paragraaf*/
  font-family: "Times New Roman", Times, serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
}

/* Stijlen voor de dropdowninhoud */
.dropdownmenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Stijlen voor de links in de dropdowninhoud */
.dropdownmenu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
  text-align: left;
}

/* Stijlen voor de hover-status van de links in de dropdowninhoud */
.dropdownmenu a:hover {
  background-color: #ddd;
}

/* Toon de dropdowninhoud wanneer de knop wordt gehoverd (gemouse-overd) */
.dropdownbutton:hover .dropdownmenu {
  display: block;
}

/* Overige stijlen voor de header en de body van de pagina blijven ongewijzigd */

.header {
  background-color: #727272;
  color: rgb(254, 254, 255);
  text-align: center;
  padding: 20px;
}

body {
  background-color:  #001f3f 
}