ul
{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black; }
  li {  float: left; border-right: 1 solid white;}
  
  li a {display: block;
    color: white;
    text-align: center;
    padding: 8 8;
    text-decoration: none;}
  
  li a:hover:not(.active) {background-color: lightblue; color: black }
  .active {background-color: lightblue; color: black}
