ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid rgb(145, 145, 145);
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
}

.active {
  background-color: #04AA6D;
  color: aliceblue;
}

.header {
  background-color: #727272; 
  color:rgb(254, 254, 255);
  text-align: center;
  padding: 20px;
}

body {background-image:url(matrixachtergrond.png);}

.tekstkleur {color:aliceblue}

.footer {
  float: left;
}

.footer {
  position: absolute;
  width: 100%;
  left: 1;
  bottom: 0;
  background: #f1f1f1;
}
.footer p {
  text-align: center;
  padding: 22px;
  line-height: 1.5em;
  font-size:large;
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
}


.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}
